body {
  font-family: "Tajawal", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #1e88e5;
  color: white;
  padding: 20px;
}

input {
  padding: 10px;
  margin-top: 10px;
  width: 250px;
}

button {
  padding: 10px 20px;
  background-color: #43a047;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

#product-list {
  margin: 30px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card button {
  margin-top: 10px;
  background-color: #1e88e5;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}


